/* dashboard.module.css */

.dashboardContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  
  .gridContainer {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }
  
  @media (min-width: 768px) {
    .gridContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (min-width: 1024px) {
    .gridContainer {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  .loadingText {
    font-size: 18px;
    color: #555;
  }
  